@using System.Globalization
@using Groapa.Web.ViewModels
@model MatchesViewModel
<div class="container">
    <div class="row">
        <div class="col-md-3 coloane">
        </div>
        <div class="col-md-3 coloane">
            <div class="form-group matchDropdown">
                <div class="col-md-12">
                    <form asp-controller="Matches" asp-action="Read" method="post">
                         <select asp-items="@Model.RoundSelectList" asp-for="SelectedRound" onchange="this.form.submit()">

                         </select>
                    </form>
                </div>
            </div>
                @foreach(var match in Model.Matches)
                {
                <div class="match">
                    <div class="matchDate">@match.MatchDate.ToString("HH:mm dddd, dd MMM", CultureInfo.CreateSpecificCulture("en-US"))</div>
                    <div class="stadion">@match.Stadion</div>
                    <div class="row">
                        <div class="col-md-4">@match.HomeTeam</div>
                        <div class="col-md-1 scoreBox">@match.HomeScore</div>
                        <div class="col-md-1 scoreBox">@match.AwayScore</div>
                        <div class="col-md-4">@match.AwayTeam</div>
                    </div>
                </div>
                }
        </div>
        <div class="col-md-3 coloane">
            <table>
                <tr>
                    <th>Pos</th>
                    <th>Team</th>
                    <th>Points</th>
                </tr>
            </table>
        </div>
    </div>
</div>